
/* Start Variables */
:root {
  --main-color: #e93e58;
  --secondary-color: #ed9168;
  --third-color:#058081;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/* End Variables */
     * {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body {
        background: rgb(250, 250, 250);
        font-family: 'Poppins', sans-serif;
      }

/*======================================================
                          Navbar
  ======================================================*/

  #menu {
    width: 100%;
  gap: 0.25rem;
  padding: 0.25em 0;
  list-style: none;
  }
  #navbar {
    text-align: right;
    width: 100%;
    height: 100%;
    background-color:  var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  } 
 

.burgermenu {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.navbutton {
    list-style: none;
    display: flex;

    
}

 
  
  .logo {
    float: left;
    margin-right:2.5rem;
    padding-left: 10px;
    font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
    letter-spacing: 1px;
   
  } 
  
  .navbar ul {
    align-self: center;
    display: inline-block;
    
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;


    
  } 
  
  #menu li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .navbutton {
    color:var(--section-background) !important;
    display: block;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
   
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    
  }

  
  .navbutton:hover {
    color: blueviolet;
    /* transition: all 1s ease;
    -webkit-transition: all 1s ease; */
  }

  .navbutton:before,   .navbutton:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -1px;
    background: var( --main-color);

  }

  
  
 .navbutton:after {
    background: var( --main-color);
    right: 0;
 
  }
  .navbutton:hover::before {
    background: var( --main-color);
    width: 100%;
    left: 0;
    
  }
  
  .navbutton:hover:after {
    background: transparent;
    width: 100%;
    
  }
  #navbar {
    height: auto;
  }



/* Tablet View */

@media only screen and (max-width: 960px) {



  .hide-on-small-screen {
    display: none !important;
  }
  #menu {
    display: none;
    flex-direction: column;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color:  var(--main-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


#menu li {
    margin: 0;
    text-align: center;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #333;
    float: none;
}
nav {
  flex-direction: row !important;
  flex-wrap: wrap;
}
#navbar {
    flex-direction: column;
}
.burger-menu .burgermenu {
display: block !important;
margin-right: 10px;
font-size: 1.5em;
align-self:flex-end;
cursor: pointer;
}




#menu {
  display: none;
}


.hide-navbar {
  display: none;
}


.mpoll {
  font-size: 10px;
}
.mpoll thead h1{
font-size: 13px !important;
}

.h-100 {
  height: calc(100vh - 12rem) !important;
  max-height: 924px;
}

.poll-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}}

.show {
  display: block !important;
}
/*                   END OF NAVBAR                                                  */



    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .poll-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .poll {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }
    
    .poll h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .poll p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .poll-options {
        display: flex;
        flex-direction: column;
      
    }
    
    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    
    
 










/* the main page styling */



.polls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.poll-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  width: 300px;
}

.poll-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.poll-date {
  color: #777;
  margin-bottom: 1.5rem;
}

.poll-vote {

  border: none;
  border-radius: 3px;
  color: #333;
  
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

















.success-icon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: 20px;
  border-radius: 50%;
  border: 4px solid #4cc93f;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}

  .tip,.long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #4cc93f;
    border-radius: 10px;
  }

  .tip {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;
  }

  .long {
    width: 4em;
    transform: rotate(-45deg);
    top: 3.70em;
    left: 2.75em;
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;
  }

@keyframes showSuccess {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes tipInPlace {
    from {
        width: 0em;
        top: 0em;
        left: -1.6em;
    }
    to {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        visibility: visible;
    }
}

@keyframes longInPlace {
    from {
        width: 0em;
        top: 5.1em;
        left: 3.2em;
    }
    to {
        width: 4em;
        top: 3.70em;
        left: 2.75em;
        visibility: visible;
    }
}



/* manage polls styling */

.tm {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}
 .create-p {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 3px;
}
 .create-poll:hover {
  background-color: #32a367;
}
 .mpoll {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}
 .mpoll thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}
 .mpoll thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}
 .mpoll tbody tr {
  border-bottom: 1px solid #d3dae0;
}
 .mpoll tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}
 .mpoll tbody tr:hover {
  background-color: #376ab7;
}
 .mpoll tbody tr:hover td {
  color: #FFFFFF;
}
 .mpoll tbody tr:hover td:nth-child(1) {
  color: #FFFFFF;
}
 .mpoll tbody tr td {
  padding: 10px;
}
 .mpoll tbody tr td:nth-child(1) {
  color: #a5a7a9;
}
 .mpoll tbody tr td.actions {
  padding: 8px;
  text-align: right;
}
 .mpoll tbody tr td.actions .view,  .mpoll tbody tr td.actions .edit,.turnon , .mpoll tbody tr td.actions .delete-p {
  display: inline-flex;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 12px;
  border-radius: 5px;
}
 .mpoll tbody tr td.actions .delete-p {
  background-color: #b73737;
}
 .mpoll tbody tr td.actions .trash:hover {
  background-color: #a33131;
}
 .mpoll tbody tr td.actions .edit {
  background-color: rgb(169, 196, 15);
}
.mpoll tbody tr td.actions .turnon {
  background-color: rgb(40, 37, 37);
}
 .mpoll tbody tr td.actions .edit:hover {
  background-color: rgb(122, 137, 36);
}
 .mpoll tbody tr td.actions .view {
  background-color: #37b770;
}
 .mpoll tbody tr td.actions .view:hover {
  background-color: #31a364;
}


.success,
.error {
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('./svg/check-solid.svg');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('./svg/xmark-solid.svg');

}


.pagination {
  display: inline-block;
  text-align: center;

}

.pagination a {
  text-decoration: none;
  color: #e93e58;
  margin: 0 auto;

  padding: 8px 16px;
}

.pagination1 a.active {
  background-color: #4CAF50;
  color: #FFF;
}

.pagination1 a:hover {
  background-color: #DDD;
}



.pagination3 a {
  transition: background-color 0.3s;
}


.btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
 
}
.btn-container button {
  margin: 10px 10px;
}

.footer {
  background-color: var(--secondary-color);

  color: white;
  padding: 30px 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
}

